html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

ul {
    padding-left: 15px;
}

#autocomplete {
    display: table-cell;
    width: 100%;
}

.course_link {
    display: block;
}

.school_box {
	padding: 5px;
}

.school_button {
	padding: 10px 5px 10px;
}

.subject_box {
    padding-bottom: 1px;
}

.subject_btn {
    white-space: normal;
}

.back_to_top {
    padding-top: 5px;
    padding-bottom: 5px;
}

.popover {
    width: 500px;
}

#unscheduled {
    min-height: 100px;
}

.panel-title {
	display: inline;
}

.info_headings {
    display: inline;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #520063;
}

.container .text-muted {
    margin: 20px 0;
    text-align: center;
}

#announcement_panel {
    display: none;
}

@media (min-width: 768px){
    #browse_tab {
        overflow-y: scroll;
        height: 650px;
    }
}
