ul {
    padding-left: 15px;
}

.course_link {
    display: block;
}

.school_box {
    padding-top: 5px;
    padding-bottom: 5px;
}

.subject_box {
    padding-bottom: 1px;
}

.subject_btn {
    white-space: normal;
}
