ul {
    padding-left: 15px;
}

.course_link {
    display: block;
}

.school_box {
    padding-top: 5px;
    padding-bottom: 5px;
}

.subject_box {
    padding-bottom: 1px;
}

.subject_btn {
    white-space: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
    text-align: center;
}

.back_to_top {
    padding-top: 5px;
}
