{% extends "layout.html" %}
{% block body %}

<div class=container>
    <h1>Development</h1>

    <p>If you are interested in the development of Serif and want to keep a closer eye on the status of feature updates, check out the <a href='http://github.com/Joonpark13/nuvsc'>github!</a></p>
    <br>
    <p><b>Features to be added:</b></p>
    <ul>
        <li>Login and save schedule functionality - you won't lose your schedule when you close Serif</li>
        <li>Easily switch between sections of an already selected class</li>
        <li>Show and hide courses in your cart</li>
        <li>Course data from older terms</li>
        <li>Export calendar feature</li>
        <li>More robust search</li>
    </ul>
</div>

{% endblock %}
