<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Northwestern Visual Shopping Cart</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fullcalendar/fullcalendar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.qtip.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/cosmo.css')}}">

</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- TODO Make it go to home page -->
                <a class="navbar-brand" href="#">Northwestern</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">About?</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Development</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-2">

                <div id="search">
                    <h3>Search</h3>
                    <input id="autocomplete">
                </div>

                <h3>Browse Courses</h3>
                <div id='visual_course_finder'>
                    <div class='col-md-6 school_box'>
                        <button id="{{schools[0][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Medill</button>
                        <!-- Add tooltip with {{schools[0][1]}} as text -->
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[1][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Kellogg</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[2][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Law</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[3][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">McCormick</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[4][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Bienen</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[5][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Non-Degree</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[6][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">SESP</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[7][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Comm.</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[8][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">TGS</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[9][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Cont. Ed.</button>
                    </div>
                    <div class='school_box col-md-6'>
                        <button id="{{schools[10][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Weinberg</button>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-md-8">
                <h3>Weekly Schedule</h3>
                <div id="calendar"></div>
                <div id="unscheduled"><h4>Unscheduled Courses</h4></div>
            </div>

            <div class="col-xs-12 col-md-2">
                <div id="cart">
                    <h3>Cart</h3>
                </div>
            </div>

        </div><!-- row -->

    </div>

    <div id="dialog">
        <ul id='dialog_ul'>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Created by &copy; Joon Park 2015</p>
        </div>
    </footer>

    <script type='text/javascript' src="{{url_for('static', filename='jquery.js')}}"></script>

    <script type='text/javascript' src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
    
    <script type='text/javascript' src="{{url_for('static', filename='fullcalendar/lib/moment.min.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='fullcalendar/fullcalendar.js')}}"></script>
    <script type='text/javascript' src="{{url_for('static', filename='fullcalendar/gcal.js')}}"></script>

    <script src="{{url_for('static', filename='jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.qtip.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>


</html>
