{% extends "layout.html" %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-2">

                <div id="current_term">
                    <h4>Displaying Courses For: {{term}}</h4>
                </div>

                <div id="search">
                    <h3>Search</h3>
                    <input id="autocomplete">
                </div>

                <h3>Browse Courses</h3>
                <div id='visual_course_finder'>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[0][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Medill</button>
                        <!-- Add tooltip with {{schools[0][1]}} as text -->
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[1][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Kellogg</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[2][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Law</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[3][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">McCormick</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[4][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Bienen</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[5][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Non-Degree</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[6][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">SESP</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[7][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">SoC</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[8][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">TGS</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[9][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Cont. Ed.</button>
                    </div>
                    <div class='school_box col-xs-6 col-sm-4 col-md-6'>
                        <button id="{{schools[10][0]}}" onclick="show_subjects(this)" class="school_button btn btn-default btn-block" type="submit">Weinberg</button>
                    </div>
                </div>

            </div><!--column-->

            <div class="col-xs-12 col-md-7">
                <div id="calendar"></div>
                <div id="unscheduled"><h4>Unscheduled Courses</h4></div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class='row'>
                    <div class='col-md-6'>
                        <h4 id="number_of_courses" class='info_headings'>0</h4><h4 class='info_headings'> Classes</h4>
                    </div>
                    <div class='col-md-6'>
                        <h4 id="course_hours" class='info_headings'>0</h4><h4 class='info_headings'> Hours/Week</h4>
                    </div>
                </div>
                <div id="cart">
                    <h3>Cart</h3>
                </div>
            </div>

        </div><!-- row -->

    </div><!-- container-fluid -->

    <div class='modal' id='sections_modal'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <button type-'button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                    <h4 class="modal-title" id='modal_title'></h4>
                </div>
                <div class='modal-body'>
                    <ul id='modal_ul'></ul>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

{% endblock %}
